
body {
    font-family: Arial;
}


table {
    width: 100%;
    font-size: 110%;
    /*table-layout: fixed;*/
  }

  .brand_cell {
    width: 20%;
  }
  .name_cell {
    width: 40%;
  }
  .thc_potency_cell {
    width: 10%;
  }
  .cbd_potency_cell {
    width: 10%;
  }
  .strainType_cell {
    width: 10%;
  }
  .weight_cell {
    width: 10%;
    text-align:right;
    padding-right: 12px; 
  }
  .price_cell {
    width: 10%;
  }
/* sales styles ----- */

.brand_sale_cell {
    color: rgb(4, 122, 4);
    font-weight: bold;
}
.name_sale_cell {
  color: rgb(4, 122, 4);
  font-weight: bold;
}
.cbd_potency_sale_cell {
  color: rgb(4, 122, 4);
  font-weight: bold;
}
.thc_potency_sale_cell {
  color: rgb(4, 122, 4);
  font-weight: bold;
}
.strainType_sale_cell {
  color: rgb(4, 122, 4);
  font-weight: bold;
}

.weight_sale_cell {
  color: rgb(4, 122, 4);
  font-weight: bold;
  width: 10%;
  text-align:right;
  padding-right: 12px; 
}
.price_sale_cell {
  color: rgb(4, 122, 4);
  font-weight: bold;
}

  /* not see me */
  td {
    border: none;
  }

  /*
  
  tr:nth-child(even) :nth-child(odd) {
    background:rgba(100,255,50,0.3);
    }
  tr:nth-child(odd) :nth-child(even) {
    background:rgba(255,255,255,0.3);
  }
*/


  /* not see me */
h1{ 
    display:none
}

h3{
    font-style: italic;
    font-size: x-large;
    padding: 0px;
    padding-top: 5mm;
    padding-bottom: 2mm;
    margin: 0px;
    line-height: 0.8em;
}

td.brand_cell {

}
.outOfStockMsg_cell{
    color: rgb(108, 54, 158);
}

td.name_cell {
    font-style: italic;
}

td.thc_potency_cell{

}

td.weight_cell {

}

td.price_cell{
    font-weight: bold;
}

td.cell_header{
    font-weight: bolder;
}
td.brand_cell_header{
    font-weight: bolder;
}
td.name_cell_header{
    font-weight: bolder;
}
td.thc_potency_cell_header{
    font-weight: bolder;
}
td.cbd_potency_cell_header{
  font-weight: bolder;
}
td.size_cell_header{
    font-weight: bolder;
    width: 10%;
    text-align:right;
    padding-right: 15px; 
}
td.price_cell_header{
    font-weight: bolder;
}

.glob-dollar {
  font-size: 50%;
  position:relative;
  top:-.6em;
}


#leftSideImage{
    text-align:left;
    float:left;
    position:relative;
}

#rightSideImage{
    text-align:right;
    float:right;
    position:relative;
}

#middleContainer{
    text-align:left;
    float:left;
    width: 65%;
   margin:0 auto; 
    /*position:relative;*/
}
#records_preroll_table{
    width: 100%;
    font-size: 150%; 
}

#records_PRE_ROLLS{
  width: 100%;
  font-size: 150%; 
}

#TopImage{
    vertical-align:top
}

#BottomImage{
    vertical-align:bottom
}

#middleVertContainer{
    text-align:left;
    width: 1080px;
    table-layout: fixed;
}

#legendDiv {
  color: rgb(4, 122, 4);
  font-weight: bold;
  font-size: x-large;
}

.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: rgb(4, 122, 4);    }
  49%{    color: rgb(4, 122, 4); }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: rgb(4, 122, 4);    }
}